<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Show</title>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
    <div class="container">
        <h1><%= budget.name%></h1>
        <a href="/budgets"><button>Back to Budget</button></a>
        <h5>date</h5>
        <p><%= budget.date %></p>
        <h5>amount</h5>
         <p><%= budget.amount %></p>
        <h5>from</h5>
         <p><%= budget.from %></p>
        <h5>tags</h5>
        <p><%= budget.tags %></p>

        
    </div>
</body>
</html>